{% extends 'index.html.twig' %}

{% block title %}Créer une séance{% endblock %}

{% block main_content %}
    <h1>Créer une séance</h1>

    {{ include('seance/_form.html.twig') }}

    <a href="{{ path('app_seance_index') }}">Retour à la liste des séances</a>
    <script>
        const selectClient = document.getElementById('seance_client');

        selectClient.onchange = () => {
            const selectedValue = selectClient.value;
            window.location.href = "{{ path('app_seance_new') }}" + "?client=" + selectedValue;
        }
    </script>
{% endblock %}
