{% extends 'index.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block main_content %}

<div class="">
    <h1 class="text-3xl font-bold">Bienvenue {{ user != null ? ', ' ~ user.getName : '' }}</h1>
    
    {% if is_granted('ROLE_USER') %}
        <h2>Mon programme: {{user.getProgram.getLabel}} </h2>

        <h2>Mes prochaines séances:</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Coach</th>
                        <th>Exercices</th>
                    </tr>
                </thead>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
