{% extends 'index.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main_content %}

<div class="">
    <h1>Bienvenue {{ user != null ? ', ' ~ user.getName : '' }}</h1>
    
</div>
{% endblock %}
