{% extends 'index.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block main_content %}

<div class="">
    
    {% if user == null %}
        <h1 class="text-3xl font-bold mb-12">Bienvenue {{ user != null ? ', ' ~ user.getName : '' }}</h1>
        <div>
            <a href=" {{ path('app_login') }} ">Me connecter</a>
            <a href=" {{ path('app_register') }} ">M'inscrire</a>
        </div>
    {% endif %}

    {% if user %}
        <h1 class="text-3xl font-bold mb-12">Bienvenue {{user.getName}}</h1>

        {% if user.getUniqueRole == 'ROLE_ADMIN' %}
            {% include "role_pages/home_admin.html.twig" %}
        {% endif %}
        {% if user.getUniqueRole == 'ROLE_USER' %}
            {% include "role_pages/home_user.html.twig" %}
        {% endif %}

        {% if user.getUniqueRole == 'ROLE_COACH' %}
            {% include "role_pages/home_coach.html.twig" %}
        {% endif %}

        {% if user.getUniqueRole == 'ROLE_BANNED'%}
            <h2 class="text-7xl">VOUS ÊTES BANNIS!</h2>
        {% endif %}
    {% endif %}

    
</div>
{% endblock %}
