<ul class="flex flex-col gap-8">
    <li><a href=" {{ path('app_admin') }} ">Gérer les utilisateurs</a></li>
    <li><a href=" {{ path('app_program_index') }} ">Gérer les programmes</a></li>
    <li><a href=" {{ path('app_seance_index') }} ">Gérer les séances</a></li>
    <li><a href=" {{ path('app_exercice_index') }} ">Gérer les exercices</a></li>
</ul>